.about {
  background-color: #feeedd;
}
@media (max-width: 992px) {
  .about {
    min-height: 84vh;
  }
}
@media (max-width: 576px) {
  .about {
    padding-bottom: 0;
  }
}
.about__heading {
  text-align: center;
}
.about__icon {
  max-width: 30px;
  margin: 2rem auto;
}
.about__description {
  font-size: clamp(0.8rem, 0.2rem + 1.2vw, 1.2rem);
  font-weight: 500;
  line-height: 1.8;
  text-align: justify;
}
@media (min-width: 768px) {
  .about__description {
    padding: 0 10vw;
  }
}
@media (min-width: 1400px) {
  .about__description {
    padding: 0 15vw;
  }
}
.about__me {
  margin-top: 2rem;
  z-index: 1;
}

.greeting {
  color: #e24f55;
}

.img-overlay {
  position: relative;
  margin-top: 2rem;
  min-height: 40vh;
}

.about__me,
.programming-doodles {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.programming-doodles {
  max-width: 700px;
  left: 20px;
}
@media (max-width: 768px) {
  .programming-doodles {
    top: 10px;
  }
}
@media (max-width: 576px) {
  .programming-doodles {
    top: 20px;
    left: 5px;
  }
}

path {
  opacity: 0;
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s ease-in-out forwards;
          animation: fadeIn 0.5s ease-in-out forwards;
}

path:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

path:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

path:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

path:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

path:nth-child(5) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

path:nth-child(6) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

path:nth-child(7) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

path:nth-child(8) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

path:nth-child(9) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

path:nth-child(10) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

path:nth-child(11) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

path:nth-child(12) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

path:nth-child(13) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

path:nth-child(14) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

path:nth-child(15) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.y {
  -webkit-animation: pulse-black 3s ease infinite;
          animation: pulse-black 3s ease infinite;
}

@-webkit-keyframes pulse-black {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse-black {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=about.css.map */