@import "../partials/colors";
@import "../partials/breakpoints";
@import "../partials/mixins";

.about {
  background-color: $beige;

  @media (max-width: $large) {
    min-height: 84vh;
  }

  @media (max-width: $sm) {
    padding-bottom: 0;
  }

  &__heading {
    text-align: center;
  }

  &__icon {
    max-width: 30px;
    margin: 2rem auto;
  }

  &__description {
    font-size: clamp(0.8rem, 0.2rem + 1.2vw, 1.2rem);
    font-weight: 500;
    line-height: 1.8;

    @media (min-width: $md) {
      padding: 0 10vw;
    }

    @media (min-width: $xxl) {
      padding: 0 15vw;
    }

    @media (max-width: $sm) {
      text-align: center;
    }
  }

  &__me {
    margin-top: 2rem;
    z-index: 1;
  }
}

.img-overlay {
  position: relative;
  margin-top: 2rem;
  min-height: 40vh;
}

.about__me,
.programming-doodles {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.programming-doodles {
  max-width: 700px;
  left: 20px;

  @media (max-width: $md) {
    top: 10px;
  }

  @media (max-width: $sm) {
    top: 20px;
    left: 5px;
  }
}
