@import "../partials/colors";
@import "../partials/breakpoints";
@import "../partials/mixins";

.contact {
  position: relative;
  min-height: 0;
  background-color: $greenish;

  &__heading {
    color: $white;

    & span {
      color: $yellow-secondary;
    }
  }

  &__description {
    color: $white;
  }

  &__form {
    display: flex;
    font-weight: 600;
    margin-top: 4vh;

    @media (max-width: $large) {
      justify-content: center;
    }

    &-img {
      flex-basis: 50%;
      padding: 5rem 0;
      background: $light-purple;

      @media (max-width: $large) {
        display: none;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      background: $white;
      padding: 3vw 7vh;

      @media (max-width: $large) {
        width: 100%;
        padding: 5vw 10vw;
      }

      & label {
        margin: 0.7rem 0;
      }

      & input,
      textarea {
        border: none;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 95%;
        background-color: $light-grey2;
        padding: 1rem;

        &:focus {
          outline: 3px solid $light-purple;
        }
      }

      & input[id="name"] {
        background-image: url(/assets/icons/name.png);
      }

      & input[id="e-mail"] {
        background-image: url(/assets/icons/email.png);
        background-size: 25px;
      }

      & textarea {
        background-image: url(/assets/icons/message.png);
        background-size: 23px;
        background-position: 95% 90%;
      }

      & input {
        min-height: 5vh;
      }
    }

    .form_btn {
      margin: 2rem auto 0;
      border-radius: 25px;
    }
  }
}

.planet {
  margin: auto;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  background-color: $white;
  padding: 2rem 0;
  z-index: 2;

  @media (max-width: $large) {
    width: 90%;
  }

  &__heading {
    text-align: center;
    color: $redish;
    margin: 2rem 0;
  }

  &__img {
    max-width: 30%;
    margin: 0 auto;

    @media (max-width: $large) {
      max-width: 100%;
    }
  }
}

.modal2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5%;
  transform: translate(-50%, -50%);
  background: transparent;
  z-index: 3;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
}
.lds-ripple div {
  position: absolute;
  border: 5px solid $white;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 75px;
    left: 75px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 75px;
    left: 75px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 75px;
    left: 75px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.close-btn {
  max-width: 3vw;
  position: absolute;
  top: 1rem;
  right: 3rem;
  animation: swing ease-in-out 1.5s infinite alternate;
  cursor: pointer;

  @media (max-width: $large) {
    right: 1.5rem;
  }
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
