@import "../partials/colors";
@import "../partials/breakpoints";
@import "../partials/mixins";

.contact {
  min-height: 0;
  background-color: $greenish;

  &__heading {
    color: $white;

    & span {
      color: $yellow-secondary;
    }
  }

  &__description {
    color: $white;
  }

  &__form {
    width: 100%;
    display: flex;
    font-weight: 600;
    margin-top: 4vh;

    @media (max-width: $large) {
      flex-direction: column;
    }

    &-img {
      flex-basis: 50%;
      padding: 5rem 0;
      background: $light-purple;

      @media (max-width: $large) {
        order: 1;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      background: $white;
      padding: 5vw;

      @media (max-width: $large) {
        order: 0;
      }

      & label {
        margin: 0.7rem 0;
      }

      & input,
      textarea {
        border: none;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 95%;
        background-color: $light-grey2;
        padding: 1rem;

        &:focus {
          outline: 2px solid $light-purple;
          outline-style: dotted;
        }
      }

      & input[id="name"] {
        background-image: url(/assets/icons/name.png);
      }

      & input[id="e-mail"] {
        background-image: url(/assets/icons/email.png);
        background-size: 25px;
      }

      & textarea {
        background-image: url(/assets/icons/message.png);
        background-size: 23px;
        background-position: 95% 90%;
      }

      & input {
        min-height: 5vh;
      }
    }

    .form_btn {
      margin: 2rem auto 0;
      border-radius: 25px;
    }
  }
}

.planet {
  margin: auto;
}
