@import "../partials/mixins";

.social__media {
  @include flex(center, center);
  flex-direction: column;
  margin-bottom: 2rem;

  &-icons {
    @include flex(center, center);
    margin-bottom: 1rem;

    & img {
      width: 25px;
      margin: 1rem;
      cursor: pointer;
    }
  }

  &-description {
    font-size: 0.8rem;
    @include flex(center, center);
  }

  .coffee {
    margin: 0 2px;
  }
}
