@import "../partials/hero";
@import "../partials/reset";
@import "../partials/colors";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: $dark;
}

p {
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1;
}

section {
  min-height: 100vh;
  padding: 8vw 15vw;

  @media (max-width: $large) {
    padding: 6vw 8vw;
  }
}

.heading {
  font-size: clamp(1rem, 0.4rem + 1.5vw, 4rem);
  margin-bottom: 0.3rem;
}

.description {
  font-size: clamp(0.75rem, 0.2rem + 1vw, 3rem);
}

.divider {
  width: 100%;
}

.btn {
  position: relative;
  display: inline-block;
  color: $white;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: $redish;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 2rem;
  margin-top: 2rem;
  animation: fade 1.4s ease-in-out backwards;
  cursor: pointer;

  &:active {
    transform: translateY(4px);
    transition: transform 0.5s ease-out;
  }
}

// a:focus,
// button:focus {
//   outline: 3px solid $yellow-secondary;
// }
