@import "../partials/hero";
@import "../partials/reset";
@import "../partials/colors";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: $dark;
}

p {
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1;
}

section {
  min-height: 100vh;
  padding: 8vw 15vw;
}

.heading {
  font-size: clamp(1rem, 0.4rem + 1.5vw, 4rem);
  margin-bottom: 0.3rem;
}

.description {
  font-size: clamp(0.75rem, 0.2rem + 1vw, 3rem);
}

.divider {
  width: 100%;
}

button {
  display: inline-block;
  cursor: pointer;
}
