@import "../partials/colors";
@import "../partials/breakpoints";
@import "../partials/mixins";

.projects {
  background-color: $light-grey2;
  margin-top: -5vh;

  &__card {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(12, 1fr);
    margin: 8rem auto;

    @media (max-width: $large) {
      display: flex;
      flex-direction: column;
      margin: 4rem auto;
      height: auto;
    }

    @media (min-width: $xxxl) {
      max-width: 80%;
    }

    &-img {
      @include flex(center, center);
      grid-column: 2/7;
      transform: perspective(1000px) rotateY(15deg);
      transition: transform 0.5s ease-in-out 0s;

      @media (max-width: $large) {
        height: 250px;
        transform: none;
      }

      &:hover {
        transform: perspective(3000px) rotateY(5deg);
      }
    }

    &-img:not(:first-child) {
      padding: 2rem 0;
    }

    &-desc {
      height: 100%;
      @include flex(center, center);
      grid-column: 8/12;
      font-size: clamp(0.8rem, 0.2rem + 1vw, 1rem);
      background-color: $white;
      margin-top: -4.5rem;
      padding: 0 2rem;
      filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.25));

      @media (max-width: $large) {
        min-height: 250px;
        margin: 0;
        filter: none;
      }

      @media (max-width: $xl) {
        padding: 0 1rem;
      }
    }

    & .card-content {
      text-align: justify;
    }

    & .card-heading {
      font-size: clamp(0.8rem, 0.3rem + 1.1vw, 3rem);
      font-weight: 900;
      margin-bottom: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    & .card-icons {
      display: flex;
      margin: 1.2rem 0 2rem 0;

      @media (max-width: $large) {
        justify-content: center;
        align-items: center;
      }

      & img {
        max-width: 25px;
        margin-right: 0.8rem;
      }
    }

    & .card-btn {
      font-size: 0.7rem;
      margin-top: 1.5rem;
      margin-right: 0.3rem;
      padding: 0.4rem 1rem;
      background: none;
      border-radius: 2rem;
      outline-offset: -2px;
      transition: outline-offset 0.1s ease-in-out;

      @media (max-width: $xl) {
        font-size: 0.7rem;
        padding: 0.2rem 1rem;
        margin-right: 0.2rem;
      }

      @media (max-width: $sm) {
        font-size: 0.5rem;
        padding: 0.2rem 1.2rem;
        margin-right: 0.3rem;
      }

      &-outletity {
        $clr: $purpleish;
        $outline: 1px solid $clr;
        border: $outline;

        &:hover,
        &:focus {
          outline: $outline;
          outline-offset: 2px;
        }
      }

      &-array {
        $clr: $yellow-secondary;
        $outline: 1px solid $clr;
        border: $outline;

        &:hover,
        &:focus {
          outline: $outline;
          outline-offset: 2px;
        }
      }

      &-photography {
        $clr: $pinkish;
        $outline: 1px solid $clr;
        border: $outline;

        &:hover,
        &:focus {
          outline: $outline;
          outline-offset: 2px;
        }
      }

      &-notary {
        $clr: $greenish;
        $outline: 1px solid $clr;
        border: $outline;

        &:hover,
        &:focus {
          outline: $outline;
          outline-offset: 2px;
        }
      }
    }
  }
}

.card-wrapper {
  @media (max-width: $large) {
    text-align: center;
  }
}

.heading-projects {
  @media (max-width: $large) {
    margin-top: 1.5rem;
  }
}

.heading-projects,
.description-projects {
  @media (min-width: $xxxl) {
    margin-left: 10%;
  }
}

.outletity {
  margin-top: 15vh;
  background-color: $purpleish;

  @media (max-width: $large) {
    margin-top: 5vh;
  }
}

.outletity-heading {
  color: $purpleish;
}

.photography-heading {
  color: $pink;
}

.array-method {
  background-color: $yellow-secondary;
}

.array-method-heading {
  color: $yellow-secondary;
}

.photography {
  background-color: $pink;
}

.notary {
  background-color: $greenish;
}

.notary-heading {
  color: $greenish;
}

.reversed-img {
  grid-column: 8/12;

  @media (max-width: $large) {
    order: 0;
  }
}

.reversed-desc {
  grid-column: 2/6;

  @media (max-width: $large) {
    order: 1;
  }
}

.height {
  @media (max-width: $large) {
    height: 100%;
  }
}

.basket {
  @media (min-width: $large) {
    width: 100%;
  }
}
