.projects {
  background-color: #f0f4f7;
  margin-top: -5vh;
}
.projects__card {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(12, 1fr);
  margin: 8rem auto;
}
@media (max-width: 992px) {
  .projects__card {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    height: auto;
  }
}
@media (min-width: 1690px) {
  .projects__card {
    max-width: 80%;
  }
}
.projects__card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/7;
  transform: perspective(1000px) rotateY(15deg);
  transition: transform 0.5s ease-in-out 0s;
}
@media (max-width: 992px) {
  .projects__card-img {
    height: 250px;
    transform: none;
  }
}
.projects__card-img:hover {
  transform: perspective(3000px) rotateY(5deg);
}
.projects__card-img:not(:first-child) {
  padding: 2rem 0;
}
.projects__card-desc {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 8/12;
  font-size: clamp(0.8rem, 0.2rem + 1vw, 1rem);
  background-color: #ffffff;
  margin-top: -4.5rem;
  padding: 0 2rem;
  filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.25));
}
@media (max-width: 992px) {
  .projects__card-desc {
    min-height: 300px;
    margin: 0;
    filter: none;
  }
}
@media (max-width: 1200px) {
  .projects__card-desc {
    padding: 0 1rem;
  }
}
.projects__card .card-heading {
  font-size: clamp(0.8rem, 0.3rem + 1.1vw, 3rem);
  font-weight: 900;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.projects__card .card-icons {
  display: flex;
  margin: 1.2rem 0 2rem 0;
}
@media (max-width: 992px) {
  .projects__card .card-icons {
    justify-content: center;
    align-items: center;
  }
}
.projects__card .card-icons img {
  max-width: 25px;
  margin-right: 0.8rem;
}
.projects__card .card-btn {
  margin-top: 1.5rem;
  margin-right: 0.3rem;
  padding: 0.4rem 1rem;
  background: none;
  border-radius: 2rem;
  outline-offset: -2px;
  transition: outline-offset 0.1s ease-in-out;
}
@media (max-width: 1400px) {
  .projects__card .card-btn {
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
    margin-right: 0.2rem;
  }
}
@media (max-width: 576px) {
  .projects__card .card-btn {
    font-size: 0.8rem;
    padding: 0.2rem 1.2rem;
    margin-right: 0.3rem;
  }
}
.projects__card .card-btn-outletity {
  border: 1px solid #ca9ad8;
}
.projects__card .card-btn-outletity:hover, .projects__card .card-btn-outletity:focus {
  outline: 1px solid #ca9ad8;
  outline-offset: 2px;
}
.projects__card .card-btn-array {
  border: 1px solid #f8ce6a;
}
.projects__card .card-btn-array:hover, .projects__card .card-btn-array:focus {
  outline: 1px solid #f8ce6a;
  outline-offset: 2px;
}
.projects__card .card-btn-photography {
  border: 1px solid #e5677d;
}
.projects__card .card-btn-photography:hover, .projects__card .card-btn-photography:focus {
  outline: 1px solid #e5677d;
  outline-offset: 2px;
}
.projects__card .card-btn-notary {
  border: 1px solid #88ce8f;
}
.projects__card .card-btn-notary:hover, .projects__card .card-btn-notary:focus {
  outline: 1px solid #88ce8f;
  outline-offset: 2px;
}

@media (max-width: 992px) {
  .card-wrapper {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .heading-projects {
    margin-top: 1.5rem;
  }
}

@media (min-width: 1690px) {
  .heading-projects,
.description-projects {
    margin-left: 10%;
  }
}

.outletity {
  margin-top: 15vh;
  background-color: #ca9ad8;
}
@media (max-width: 992px) {
  .outletity {
    margin-top: 5vh;
  }
}

.outletity-heading {
  color: #ca9ad8;
}

.photography-heading {
  color: #feacba;
}

.array-method {
  background-color: #f8ce6a;
}

.array-method-heading {
  color: #f8ce6a;
}

.photography {
  background-color: #feacba;
}

.notary {
  background-color: #88ce8f;
}

.notary-heading {
  color: #88ce8f;
}

.reversed-img {
  grid-column: 8/12;
}
@media (max-width: 992px) {
  .reversed-img {
    order: 0;
  }
}

.reversed-desc {
  grid-column: 2/6;
}
@media (max-width: 992px) {
  .reversed-desc {
    order: 1;
  }
}

@media (max-width: 992px) {
  .height {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .basket {
    width: 100%;
  }
}/*# sourceMappingURL=projects.css.map */