$purple: #5b18b7;
$yellow: #fbe10f;
$blueish: #a1ccdd;
$btn-color: #e24f55;
$text-clr: #fdfefe;
$text-dark: #21222b;
$projects-bg: #e3e8eb;
$pink: #feacba;
$white: #ffffff;
$yellow-secondary: #f8ce6a;
$greenish: #88ce8f;
$purpleish: #ca9ad8;
$pinkish: #e5677d;
$project-bg: #e7eeed;
$light-grey: #f0f4f7;
$light-purple: #f5cbf7;
$beige: #feeedd;
$light-grey: #e7eeed;
$light-blueish: #f0f4f7;
