$purple: #5b18b7;
$yellow: #fbe10f;
$hero: #a1ccdd;
$blue: #0078d7;
// $redish: #e24f55;
$redish: #d9363c;
$text-clr: #fdfefe;
$dark: #21222b;
$pink: #feacba;
$white: #ffffff;
$yellow-secondary: #f8ce6a;
$greenish: #88ce8f;
$purpleish: #ca9ad8;
$pinkish: #e5677d;
$light-grey2: #f0f4f7;
$light-grey: #e7eeed;
$light-purple: #f5cbf7;
$beige: #feeedd;
