@import "./mixins";
@import "./colors";
@import "./fonts";
@import "./animations";
@import "./breakpoints";

.nav__bar {
  @include flex(center, center);

  @media (max-width: $sm) {
    flex-direction: column;
    justify-content: center;
  }

  &-links {
    display: flex;

    & li {
      position: relative;
      font-size: clamp(1rem, calc(12px + 1vw), 1.25rem);
      font-weight: 800;
      padding: 0.8rem 1.7rem;
      cursor: pointer;

      @media (max-width: $x-sm) {
        padding: 0.8rem 1.2rem;
      }

      &:hover:after {
        content: url(/assets/icons/arrow.png);
        position: absolute;
        top: 2rem;

        @media (max-width: $md) {
          content: "";
        }
      }

      &:first-of-type:hover::after {
        left: 2.6rem;
      }

      &:nth-of-type(2):hover::after {
        left: 2rem;
      }
    }

    & li a:last-child {
      position: relative;
    }

    & li:last-child::after {
      position: absolute;
      top: 25px;
      left: 15px;
      transform: scale(0.8);
      content: url(/assets/icons/contact-link-doodle.svg);

      @media (max-width: $md) {
        left: 12px;
      }

      @media (max-width: $x-sm) {
        left: 0;
      }
    }
  }
}

.nav__bar-logo img {
  transition: transform 0.1s ease-in-out;
  @media (max-width: $sm) {
    margin-bottom: 1rem;
  }

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

.hero {
  background-color: $hero;
  padding-top: 5vh;

  &__main {
    min-height: 80vh;
    @include flex(center, center);
    flex-direction: column;
    color: $text-clr;
    margin-top: 3vh;
    text-align: center;

    &-img {
      margin-top: -3rem;
      animation: fadeIn 1.1s 0.3s ease-in-out backwards;

      @media (max-width: $md) {
        margin-top: 0;
      }
    }

    &-heading {
      max-width: 70%;
      font-size: clamp(2rem, calc(16px + 2vw), 8rem);
      font-weight: 900;
      text-shadow: 2px 2px 2px $redish;
      line-height: 1.2;
      animation: fadeIn 1.1s ease-in-out backwards;

      @media (max-width: $md) {
        max-width: unset;
      }
    }

    &-btn {
      animation: fadeIn 1.1s 0.5s ease-in-out backwards;
      margin-top: 1rem;
    }
  }
}

.bracket {
  color: #f7f3b5;
}
