@font-face {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/assets/fonts/Mulish-ExtraLight.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/fonts/Mulish-SemiBold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/assets/fonts/Mulish-ExtraBold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/fonts/Mulish-Black.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.projects {
  background-color: #f0f4f7;
  margin-top: -5vh;
}
.projects__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 10%;
}
@media (min-width: 1690px) {
  .projects__card {
    max-width: 80%;
    margin: 5rem auto;
  }
}
.projects__card-img {
  grid-column: 2/7;
}
.projects__card-desc {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 8/12;
  font-size: clamp(0.7rem, 0.2rem + 1vw, 1rem);
  background-color: #ffffff;
  margin-top: -4.5rem;
  padding: 0 2vw;
  filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.25));
}
.projects__card .card-heading {
  font-size: clamp(0.75rem, 0.3rem + 1.5vw, 3rem);
  font-weight: 900;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.projects__card .card-icons {
  display: flex;
}
.projects__card .card-icons * {
  margin-right: 0.5rem;
}
.projects__card .card-btn {
  font-weight: 200;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  background: none;
  outline: 1px solid #e5677d;
  border: 1px solid #e5677d;
  border-radius: 2rem;
  outline-offset: -2px;
  transition: outline-offset 0.1s ease-in-out;
}
@media (max-width: 1200px) {
  .projects__card .card-btn {
    font-size: 0.7rem;
    padding: 0.2rem 1.2rem;
  }
}
.projects__card .card-btn:hover, .projects__card .card-btn:focus {
  outline: 1px solid #e5677d;
  outline-offset: 2px;
}

@media (min-width: 1690px) {
  .heading-projects,
.description-projects {
    margin-left: 10%;
  }
}

.outletity {
  margin-top: 15vh;
  background-color: #feacba;
}

.outletity-heading {
  color: #feacba;
}

.photography-heading {
  color: #ca9ad8;
}

.array-method {
  background-color: #f8ce6a;
}

.array-method-heading {
  color: #f8ce6a;
}

.photography {
  background-color: #ca9ad8;
}

.notary {
  background-color: #88ce8f;
}

.notary-heading {
  color: #88ce8f;
}

.reversed-img {
  grid-column: 8/12;
}

.reversed-desc {
  grid-column: 2/6;
}/*# sourceMappingURL=projects.css.map */